<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V3</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/usercss/logincss/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/usercss/logincss/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/usercss/logincss/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/usercss/logincss/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/usercss/logincss/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/usercss/logincss/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/usercss/logincss/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/usercss/logincss/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/usercss/logincss/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/usercss/logincss/css/util.css">
	<link rel="stylesheet" type="text/css" href="/usercss/logincss/css/main.css">
<!--===============================================================================================-->
</head>
<body>
  <form  method="post" >
	<div class="limiter">
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
			<div class="wrap-login100">
				<form class="login100-form validate-form">
					<span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						Log in
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Enter username">
						<input class="input100" type="text" name="name" placeholder="Username">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="password" placeholder="Password">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					
							<a class="txt1" href="/forgotpassword">
								Forgotpassword
							</a>
						
					</div>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>
          <% if(typeof message !=="undefined") { %>
            <h5 style="font-size: 14px;color: brown;"><%=message  %></h5>
              <%} %>
					<div class="text-center p-t-90">
						<a class="txt1" href="/signup">
							SignUp
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	</form>

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="/usercss/logincss/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/usercss/logincss/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/usercss/logincss/vendor/bootstrap/js/popper.js"></script>
	<script src="/usercss/logincss/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/usercss/logincss/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/usercss/logincss/vendor/daterangepicker/moment.min.js"></script>
	<script src="/usercss/logincss/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/usercss/logincss/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/usercss/logincss/js/main.js"></script>

</body>
</html>